@import url(https://fonts.googleapis.com/css?family=Merriweather:300,400,700);
@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fefbfa !important;
}
  

.shadow[data-v-3cbe68da] {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 2px 16px 0 rgba(0, 0, 0, 0.19);
}
.bg-custom[data-v-3cbe68da] {
  background: rgb(245, 249, 254);
}


.shadow[data-v-48d439da] {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 2px 16px 0 rgba(0, 0, 0, 0.19);
}


.shadow[data-v-3ce3bf1e] {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 2px 16px 0 rgba(0, 0, 0, 0.19);
}


.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 1s;
}
.fade-leave-active {
  transition: opacity 1s;
  opacity: 0;
}


.loader[data-v-04d2e596] {
    animation-name: spin-data-v-04d2e596;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin-data-v-04d2e596 {
from {
        transform: rotate(0deg);
}
to {
        transform: rotate(360deg);
}
}

